<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h1>Editing Book</h1>

      <% if @book.errors.any? %>
      <h3>
        <%= @book.errors.count %>
        error prohibited this obj from begining saved:
      </h3>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>

      <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
        <div class="field">
          <label>Title</label>
          <div><%= f.text_field :title %></div>
        </div>
        <div class="field">
          <label>Opinion</label>
          <div><%= f.text_area :body %></div>
        </div>
          <div class="action">
          <%= f.submit 'Update Book', class: "btn btn-success text-white" %>
        </div>
      <% end %>
      <%= link_to 'Show', book_path(@book.id) %>
      |
      <%= link_to 'Back', books_path %>

    </div>
  </div>
</div>